<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the xander zone</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to the xander zone</p>
    <a href='http://desktop-0cbjv6o:3000/users/form/'><button>Link to create account</button></a>
  </body>
</html>
