<!-- etc -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Emergency Calculator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/libraries/p5.min.js'></script>
    <script src='/javascripts/libraries/p5.sound.min.js'></script>
	<meta charset="UTF-8">
  </head>
  <body>
    <h1>Welcome <span id = "name"></span></h1>
    <!-- Display Title on Page in Header-->
    <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <button id= "login_button">Login</button><br><br>
            <button id= "logout_button">Logout</button><br><br>
            <button id= "registration_button">Register</button><br><br>
            <button class= "save_image_button"
            onclick="saveImage()">Save Image</button><br>
          </ul>
        </div>
      </nav>
<br><br>

      <div class="table-data">
        <h2>User calculations</h2>
            <table border="1">
                <tr>
                    <th>UserId</th>
                    <th>Calculation</th>
                    <th>Graph function</th>
                </tr>
                
                
                <%
                if(userData!=null){
                var i=1;
                userData.forEach(function(data){
                %>
                <tr>
                    <td><%=data.userid; %></td>
                    <td><%=data.calculation %></td>
                    <td><%=data.graphfunction %></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
            </table>
            </div>
            <script src="javascripts/sketch.js"></script>
	
	<section>
	  <script>
      document.getElementById("login_button").addEventListener("click",openLogin);
      document.getElementById("logout_button").addEventListener("click",logout);
      document.getElementById("registration_button").addEventListener("click",register);
      
      
      document.getElementById("name").innerHTML = name;

          function openLogin() {
            location.href=("http://desktop-0cbjv6o:3000/login");
          }
          function closeLogin(){
            document.getElementById("logoutForm").style.display = "none";
          }
          function register(){
            location.href=("http://desktop-0cbjv6o:3000/register");
          }

          function logout(){
            //alert("Here");
            location.href=("http://desktop-0cbjv6o:3000/logout");c
          }
          function saveImage(){}

	  </script>
	</section>
	<footer id="footer">
	<p>Dylan Engle,Weston Abner,Eric Bunch &copy;2021</p>
	</footer>
  </body>
</html>

